<p style="color: green"><%= notice %></p>

<%# <h1>Point Wallet</h1>
<div>

<% @users.all.pluck(:points).sum do |points| 
  <%= render @users.all.pluck(:points).sum  %>
  <%# <% end %>
<%# </div> %> 

<h1>Transactions</h1>

<div id="users">
  <% @users.order(:timestamp).each do |user| %>
    <%= render user %>
    <p>
      <%= link_to "Show this user", user %>
    </p>
  <% end %>
</div>



<%= link_to "New Transaction", new_user_path %></p>
<%= link_to "Spend Points", spend_path %>
